<a href="https://colab.research.google.com/github/timrocar/COVID19-Mortality-vs-Diet-PhysicalActivity/blob/master/Timothy_Carroll_Unit_1_Build.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Preface:

As the pandemic of the COVID-19 virus has spread across the world and impacted more and more lives, researchers, doctors, media, and lay-people alike have tried to understand it. The question of its transmission, severity of symptoms and mortality rate have all be under scruitany. I believe the most asked question would be:

 "*how would COVID-19 affect myself and my loved ones if we were to be infected?*"

and so arose the prevelance of the "at-risk population" in the conversation of how to handle this virus. The elderly, those with prexisting lung conditions, smokers, the immune-comprised all became hyper aware of the elevated threat they faced.

What seems to have never made it into the conversation however is obesity, nutrition, and physical activity.

Research Question:

How does the mortality rate of COVID-19 on a county by county basis vary in relation to obesity/nutrition/exercise? (As of 7/22/20)

In [12]:
## DAY ONE - PLAN OF ATTACK

## Analyze and understand my data. Account for what features I need, and drop those I dont. Clean and 
## reshape as need.

In [14]:
import pandas as pd
import numpy as np

## Dataset 1 - Health Factors

The first dataset's source: 
https://healthdata.gov/dataset/community-health-status-indicators-chsi-combat-obesity-heart-disease-and-cancer

I am taking only the 'RISKFACTORSANDACCESSTOCARE.csv" from this dataset as it is the most relevant to my research question.

In [102]:
activity_diet = pd.read_csv('https://raw.githubusercontent.com/timrocar/COVID19-Mortality-vs-Diet-PhysicalActivity/master/RISKFACTORSANDACCESSTOCARE.csv')
print(activity_diet.shape)
activity_diet.head()

(3141, 31)

   State_FIPS_Code  County_FIPS_Code  ... Community_Health_Center_Ind HPSA_Ind
0                1                 1  ...                           1        2
1                1                 3  ...                           1        2
2                1                 5  ...                           1        2
3                1                 7  ...                           1        1
4                1                 9  ...                           2        1

[5 rows x 31 columns]

In [ ]:
activity_diet.isnull().sum()

In [107]:
#dropping everything after "CI_Max_Diabetes" feature as they relate more so to insurance and dental care
activ_diet = activity_diet.drop(activity_diet.loc[:, 'Uninsured' : 'HPSA_Ind'], axis = 1)
print(activ_diet.shape)
activ_diet.head()

(3141, 24)

   State_FIPS_Code  County_FIPS_Code  ... CI_Min_Diabetes CI_Max_Diabetes
0                1                 1  ...             9.1            19.3
1                1                 3  ...             5.2             9.3
2                1                 5  ...             2.0            11.3
3                1                 7  ...             4.7            21.5
4                1                 9  ...             4.4            12.4

[5 rows x 24 columns]

In [108]:
# I can also drop "State_FIPS_Code" and "County_FIPS_CODE"
activ_diet = activ_diet.drop(activ_diet.loc[:, 'State_FIPS_Code' : 'County_FIPS_Code'], axis = 1)

In [109]:
## missing values are denoted by -1111.1 in this dataframe. I will replace them with NaN and then fill with last valid observation with .ffill()
activ_diet = activ_diet.replace(-1111.1, np.nan)
activ_diet = activ_diet.ffill(axis = 0)
activ_diet.head()

  CHSI_County_Name CHSI_State_Name  ... CI_Min_Diabetes  CI_Max_Diabetes
0          Autauga         Alabama  ...             9.1             19.3
1          Baldwin         Alabama  ...             5.2              9.3
2          Barbour         Alabama  ...             2.0             11.3
3             Bibb         Alabama  ...             4.7             21.5
4           Blount         Alabama  ...             4.4             12.4

[5 rows x 22 columns]

In [110]:
#Lastly, ill change the CHSI_County_Name, CHSI_State_Name, and CHSI_State_Abbr to match that of my other datasets. 
activ_diet = activ_diet.rename(columns={'CHSI_County_Name': "County Name", 'CHSI_State_Name'	: "Full State", 'CHSI_State_Abbr': "State"})
activ_diet.head()

  County Name Full State State  ...  Diabetes  CI_Min_Diabetes  CI_Max_Diabetes
0     Autauga    Alabama    AL  ...      14.2              9.1             19.3
1     Baldwin    Alabama    AL  ...       7.2              5.2              9.3
2     Barbour    Alabama    AL  ...       6.6              2.0             11.3
3        Bibb    Alabama    AL  ...      13.1              4.7             21.5
4      Blount    Alabama    AL  ...       8.4              4.4             12.4

[5 rows x 22 columns]

In [113]:
## after some consideration, the full state name column does nothing for me. Ill delete that 
activ_diet = activ_diet.drop('Full State', axis=1)

## Dataset 2 - Confirmed Cases

In [21]:
confirmed_cases = pd.read_csv('https://raw.githubusercontent.com/timrocar/COVID19-Mortality-vs-Diet-PhysicalActivity/master/covid_confirmed_usafacts.csv')
print(confirmed_cases.shape)
confirmed_cases.head()

(3195, 187)

   countyFIPS            County Name State  ...  7/20/20  7/21/20  7/22/20
0           0  Statewide Unallocated    AL  ...        0        0        0
1        1001         Autauga County    AL  ...      857      865      886
2        1003         Baldwin County    AL  ...     2013     2102     2196
3        1005         Barbour County    AL  ...      503      514      518
4        1007            Bibb County    AL  ...      279      283      287

[5 rows x 187 columns]

In [39]:
confirmed_cases.isnull().sum()

countyFIPS     0
County Name    0
State          0
stateFIPS      0
1/22/20        0
              ..
7/18/20        0
7/19/20        0
7/20/20        0
7/21/20        0
7/22/20        0
Length: 187, dtype: int64

In [31]:
# Because I'm only interested in the total values, im going to drop almost all of my columns with values for confirmed covid cases.
# I only need the most recent. 
total_cases = confirmed_cases.drop(confirmed_cases.loc[:, '1/22/20' : '7/21/20'], axis = 1)
print(total_cases.shape)
total_cases.head()

(3195, 5)

   countyFIPS            County Name State  stateFIPS  7/22/20
0           0  Statewide Unallocated    AL          1        0
1        1001         Autauga County    AL          1      886
2        1003         Baldwin County    AL          1     2196
3        1005         Barbour County    AL          1      518
4        1007            Bibb County    AL          1      287

In [34]:
total_cases = total_cases.rename(columns = {"7/22/20": "Confirmed Cases"})
total_cases.head()

   countyFIPS            County Name State  stateFIPS  Confirmed Cases
0           0  Statewide Unallocated    AL          1                0
1        1001         Autauga County    AL          1              886
2        1003         Baldwin County    AL          1             2196
3        1005         Barbour County    AL          1              518
4        1007            Bibb County    AL          1              287

## Dataset 3 - County Deaths

In [5]:
covid_deaths = pd.read_csv('https://raw.githubusercontent.com/timrocar/COVID19-Mortality-vs-Diet-PhysicalActivity/master/covid_deaths_usafacts.csv')
print(covid_deaths.shape)
covid_deaths.head()

(3195, 187)

   countyFIPS            County Name State  ...  7/20/20  7/21/20  7/22/20
0           0  Statewide Unallocated    AL  ...        0        0        0
1        1001         Autauga County    AL  ...       21       21       21
2        1003         Baldwin County    AL  ...       15       16       16
3        1005         Barbour County    AL  ...        4        4        4
4        1007            Bibb County    AL  ...        2        2        2

[5 rows x 187 columns]

In [30]:
covid_deaths.isnull().sum()

countyFIPS     0
County Name    0
State          0
stateFIPS      0
1/22/20        0
              ..
7/18/20        0
7/19/20        0
7/20/20        0
7/21/20        0
7/22/20        0
Length: 187, dtype: int64

In [56]:
# Will do the same with the deaths as i did with the confirmed cases; drop all accept totals
total_deaths = covid_deaths.drop(covid_deaths.loc[:, '1/22/20' : '7/21/20'], axis = 1)
print(total_deaths.shape)
total_deaths.head()

(3195, 5)

   countyFIPS            County Name State  stateFIPS  7/22/20
0           0  Statewide Unallocated    AL          1        0
1        1001         Autauga County    AL          1       21
2        1003         Baldwin County    AL          1       16
3        1005         Barbour County    AL          1        4
4        1007            Bibb County    AL          1        2

In [57]:
total_deaths = total_deaths.rename(columns = {"7/22/20": "COVID19 Deaths"})
total_deaths.head()

   countyFIPS            County Name State  stateFIPS  COVID19 Deaths
0           0  Statewide Unallocated    AL          1               0
1        1001         Autauga County    AL          1              21
2        1003         Baldwin County    AL          1              16
3        1005         Barbour County    AL          1               4
4        1007            Bibb County    AL          1               2

## Dataset 4 - County total populations

In [4]:
county_population = pd.read_csv('https://raw.githubusercontent.com/timrocar/COVID19-Mortality-vs-Diet-PhysicalActivity/master/covid_county_population_usafacts.csv')
print(county_population.shape)
county_population.head()

(3195, 4)

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

In [29]:
county_population.isnull().sum()

countyFIPS     0
County Name    0
State          0
population     0
dtype: int64

## Combining Datasets:

Datasets 2-4 share 4 columns, so I will combine them first

In [119]:
county_population['Confirmed Cases'] = total_cases['Confirmed Cases']

In [120]:
county_population['COVID19 Deaths'] = total_deaths['COVID19 Deaths']

In [121]:
combined_covid_data = county_population
combined_covid_data

      countyFIPS            County Name  ... Confirmed Cases  COVID19 Deaths
0              0  Statewide Unallocated  ...               0               0
1           1001         Autauga County  ...             886              21
2           1003         Baldwin County  ...            2196              16
3           1005         Barbour County  ...             518               4
4           1007            Bibb County  ...             287               2
...          ...                    ...  ...             ...             ...
3190       56037      Sweetwater County  ...             201               2
3191       56039           Teton County  ...             234               1
3192       56041           Uinta County  ...             224               0
3193       56043        Washakie County  ...              45               5
3194       56045          Weston County  ...               4               0

[3195 rows x 6 columns]

In [122]:
print(combined_covid_data.shape)
combined_covid_data.head()

(3195, 6)

   countyFIPS            County Name  ... Confirmed Cases  COVID19 Deaths
0           0  Statewide Unallocated  ...               0               0
1        1001         Autauga County  ...             886              21
2        1003         Baldwin County  ...            2196              16
3        1005         Barbour County  ...             518               4
4        1007            Bibb County  ...             287               2

[5 rows x 6 columns]

In [123]:
combined_covid_data= combined_covid_data.drop(0)

In [124]:
combined_covid_data['County Name'] = combined_covid_data['County Name'].str.replace(' County', '')
combined_covid_data.head()

   countyFIPS County Name State  population  Confirmed Cases  COVID19 Deaths
1        1001     Autauga    AL       55869              886              21
2        1003     Baldwin    AL      223234             2196              16
3        1005     Barbour    AL       24686              518               4
4        1007        Bibb    AL       22394              287               2
5        1009      Blount    AL       57826              547               1

In [126]:
test = pd.merge(combined_covid_data, activ_diet, how = 'inner')
print(test.shape)
test

(3014, 25)

      countyFIPS County Name State  ...  Diabetes  CI_Min_Diabetes  CI_Max_Diabetes
0           1001     Autauga    AL  ...      14.2              9.1             19.3
1           1003     Baldwin    AL  ...       7.2              5.2              9.3
2           1005     Barbour    AL  ...       6.6              2.0             11.3
3           1007        Bibb    AL  ...      13.1              4.7             21.5
4           1009      Blount    AL  ...       8.4              4.4             12.4
...          ...         ...   ...  ...       ...              ...              ...
3009       56037  Sweetwater    WY  ...       5.3              4.2              6.4
3010       56039       Teton    WY  ...       2.4              1.4              3.4
3011       56041       Uinta    WY  ...       4.8              3.4              6.2
3012       56043    Washakie    WY  ...       9.4              6.6             12.1
3013       56045      Weston    WY  ...       5.7              3.4              8.0

[3014 rows x 25 columns]

In [131]:
finaldf = test[test['Confirmed Cases'] > 300]

In [132]:
finaldf

      countyFIPS County Name State  ...  Diabetes  CI_Min_Diabetes  CI_Max_Diabetes
0           1001     Autauga    AL  ...      14.2              9.1             19.3
1           1003     Baldwin    AL  ...       7.2              5.2              9.3
2           1005     Barbour    AL  ...       6.6              2.0             11.3
4           1009      Blount    AL  ...       8.4              4.4             12.4
5           1011     Bullock    AL  ...       8.4              4.4             12.4
...          ...         ...   ...  ...       ...              ...              ...
2985       55131  Washington    WI  ...       3.3              1.6              5.0
2986       55133    Waukesha    WI  ...       5.2              3.9              6.5
2989       55139   Winnebago    WI  ...       8.7              6.5             10.8
2997       56013     Fremont    WY  ...       6.9              5.5              8.3
3001       56021     Laramie    WY  ...       6.1              5.3              7.0

[1041 rows x 25 columns]